.Home {
    display: grid;
    grid-template-columns: 130vh 30vh;
    grid-template-rows: 50vh;
    background-color: #FFFFFFcc;
    padding: 10px;
    font-size: 1.2rem;
}

.Home .Text {
    grid-column: 1/ 2;
    margin: 10px;
    padding: 10px;
    font-size: 1.4rem;
}

.Home .slide {
    grid-column: 2/ 2;
    max-height: 30px;
    max-width: 30px;
}

.Home1 {
    background-color: #ff0000cc;
    padding: 10px;
    grid-template-columns: 150vh;
    display: grid;
    text-align: center;
}

.Home1 h1{
    
}
